[run]
source =
    src/apps/sync_engine
omit =
    */migrations/*
    */tests/*
    */src/tests/*
    */admin.py
    */urls.py
    */views.py
    */config/settings/*
    */manage.py

[report]
show_missing = True
skip_covered = True
